---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=ceb8be22def9aac099e4e61714008ea5&exclude=minutely,alerts&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655133824,"sunrise":1655119887,"sunset":1655173725,"temp":302.06,"feels_like":300.6,"pressure":998,"humidity":22,"dew_point":278.23,"uvi":3.47,"clouds":0,"visibility":10000,"wind_speed":0.45,"wind_deg":144,"wind_gust":1.79,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1655132400,"temp":302.06,"feels_like":300.6,"pressure":998,"humidity":22,"dew_point":278.23,"uvi":3.47,"clouds":0,"visibility":10000,"wind_speed":1.95,"wind_deg":206,"wind_gust":2.57,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1655136000,"temp":302.09,"feels_like":300.54,"pressure":998,"humidity":19,"dew_point":276.17,"uvi":5.79,"clouds":0,"visibility":10000,"wind_speed":0.79,"wind_deg":303,"wind_gust":2.03,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1655139600,"temp":303.04,"feels_like":301.21,"pressure":998,"humidity":16,"dew_point":274.53,"uvi":8.22,"clouds":0,"visibility":10000,"wind_speed":1.43,"wind_deg":339,"wind_gust":3.8,"weather":[{"id":800,"ma[...]
