---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=ceb8be22def9aac099e4e61714008ea5&exclude=minutely,alerts&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655090791,"sunrise":1655033490,"sunset":1655087299,"temp":298.29,"feels_like":297.7,"pressure":999,"humidity":32,"dew_point":280.45,"uvi":0,"clouds":92,"visibility":10000,"wind_speed":3.06,"wind_deg":217,"wind_gust":5.11,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1655089200,"temp":298.29,"feels_like":297.7,"pressure":999,"humidity":32,"dew_point":280.45,"uvi":0,"clouds":92,"visibility":10000,"wind_speed":3.06,"wind_deg":217,"wind_gust":5.11,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1655092800,"temp":298.69,"feels_like":298.06,"pressure":999,"humidity":29,"dew_point":279.36,"uvi":0,"clouds":92,"visibility":10000,"wind_speed":4.77,"wind_deg":229,"wind_gust":11.04,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1655096400,"temp":298.48,"feels_like":297.75,"pressure":999,"humidity":26,"dew_point":277.61,"uvi":0,"clouds":86,"visibility":10000,"wind_speed":3.08,"wind_deg":217,"wind_gust":6.33,"weather":[{"id":80[...]
