---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=ceb8be22def9aac099e4e61714008ea5&exclude=minutely,alerts&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655076285,"sunrise":1655033490,"sunset":1655087299,"temp":303.46,"feels_like":301.72,"pressure":1002,"humidity":22,"dew_point":279.39,"uvi":2.37,"clouds":81,"visibility":10000,"wind_speed":0.89,"wind_deg":40,"wind_gust":3.13,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1655074800,"temp":303.46,"feels_like":301.72,"pressure":1002,"humidity":22,"dew_point":279.39,"uvi":2.37,"clouds":81,"visibility":10000,"wind_speed":5.19,"wind_deg":85,"wind_gust":5.76,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.08},{"dt":1655078400,"temp":303.55,"feels_like":301.75,"pressure":1001,"humidity":21,"dew_point":278.79,"uvi":1.09,"clouds":82,"visibility":10000,"wind_speed":4.71,"wind_deg":106,"wind_gust":8.19,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.08},{"dt":1655082000,"temp":304.39,"feels_like":302.37,"pressure":1000,"humidity":18,"dew_point":277.27,"uvi":0.39,"clouds":53,"visibility":10000,"wind_speed":1.77,"wind_deg":83,"wind_gust":4.13,"weather"[...]
